@import "../../../base";
@keyframes reveal{
  0%{opacity: -1;  }
  100%{opacity: 1;  }
}

/* dashboard */
.dashboard {
  @include flex-col();
  width:100vw;
  .dashboard-wrapper{
    @include flex-row();
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100vw;
  }
}

.heading{
  @include flex-row();
  justify-content: space-between;
  color: white;
  width: 100%;
  font-size: 1.5em;
  background-color: $color_1;
  .MuiSvgIcon-root{
      font-size: 1.5em;
  }
}
.profile{
  @include flex-col();
  width: 350px;
  margin: .5em;
  animation: reveal 1s;
  .user-details{
    width: 100%;
    text-align: left;
    padding: 1em;
    
  }
}
  
.transactions{
  @include flex-col();
    width: 350px;
    margin: .5em;
    animation: reveal 1s;
  .payment-history{
      width: 100%;
      text-align: left;
      padding: 1em;
  }
}

.purchases{
  @include flex-col();
  width: 350px;
  margin: .5em;
  animation: reveal 1s;
  .insurance-covers{
    width: 100%;
    text-align: left;
    padding: 1em;
  }
    
}