@import "../../../base";

  /* dashboard */
  .dashboard {
    @include flex-col();
    position: relative;
    top: 4em;
    width:100vw;
    .dashboard-wrapper{
      @include flex-col();
      width: 100vw;
      .display-none{
        display: none;
      }
    }
  
  }