@import "../../base";
  
.front-page {
  @include flex-col();
  .button-text{
    @include flex-col();
    align-items: flex-end;
    p{
      color: $white;
    }
  }
  
}
  
  .cover-page {
    @include flex-col();
    @include fullscreen();
    position: relative;
    top: 5vh;
    font-weight: 700;  
    background-color: $color_1;
    
    
    .cover-background{
        background-image: url(../../assets/images/image1.png);
        background-repeat: no-repeat; 
        background-position-x: -20em;
        background-position-y: 10em; 
    }
   
    //home
  .home {
    @include flex-col();
    @include fullscreen();
    align-items: baseline;
    text-align: left; 
    color: $white; 
    
    .headline-text {
      @include flex-col();
      justify-content: space-between; 
      margin: 1em;
      margin-bottom: 1em;
      font-weight: 600;
      font-size: 2em;
      @include sliding-effect();
      color: $color_2;
     
    }
    .headline-subtext {
      width: 70%;
      
      .home-carousel{
        width: 100%; 
        margin-bottom: 2em; 
        margin-left: 1em;  
        padding: .05em;
        border: solid .015em $color_2; 
        
      }
      .home-carousel1{
        @include sliding-effect();
        
      }
      .home-carousel2{
        @include sliding-effect2s();
        
      }
      
      .slide{
        background-color: $color_1;
        height: 20vh;
        .home-carousel1-slide1{
          height: 100%;
          background-image: url(../../assets/images/img_placeholder.png);
          background-repeat: no-repeat;
          background-position-x: 5em;
          background-position-y: 1em;
         
        }   
        .home-carousel1-slide2{
          height: 100%;
          background-image: url(../../assets/images/img_placeholder.png);
          background-repeat: no-repeat;
          background-position-x: 5em;
          background-position-y: 1em;
         
        }   
        .home-carousel1-slide3{
          height: 100%;
          background-image: url(../../assets/images/img_placeholder.png);
          background-repeat: no-repeat;
          background-position-x: 5em;
          background-position-y: 1em;
         
        }   
        .home-carousel2-slide1{
          height: 100%;
          background-image: url(../../assets/images/img_placeholder.png);
          background-repeat: no-repeat;
          background-position-x: 5em;
          background-position-y: 1em;
         
        }   
        .home-carousel2-slide2{
          height: 100%;
          background-image: url(../../assets/images/img_placeholder.png);
          background-repeat: no-repeat;
          background-position-x: 5em;
          background-position-y: 1em;
         
        } 
        .home-carousel2-slide3{
          height: 100%;
          background-image: url(../../assets/images/img_placeholder.png);
          background-repeat: no-repeat;
          background-position-x: 5em;
          background-position-y: 1em;
         
        }          
      } 
    }
    
  }
  
    
  }  
  
/* how it works */
.how-it-works-wrapper {
    @include flex-col(); 
    position: relative;
    top: 3em;
  
  }
  .how-it-works-sub-header{
    @include flex-col();
    padding: 1.5em;  
    @include sliding-effect();
  }
  
  .how-it-works-sub-header-text{
    @include flex-col();
    padding-left: 1em; 
    min-height: 10vh;
    font-size: 2em;
    font-weight: 400;
    border-left: $color_2 .1em solid;
    @include sliding-effect1s();
    
  }
  
  .how-it-works {
    @include flex-col();
    background-color: $white; 
    text-align: center;
  }
  
  .step {
    @include flex-col();
    padding: 2em;
    margin: 1em;
    .svg {
      @include flex-col();
      height: 15em;
      width: 15em;
    }
  }
  
  
  .step-header{
    margin: 1em;
    border-bottom: $color_2 solid .05em;
    font-size: 1.5em;
    font-weight: 600;
    text-transform: capitalize;
  }
  
  .step-text {
    letter-spacing: .05em;
  }

  /*why us*/
.why-us-wrapper{
  position: relative;
  top: 3em;
  .why-us {
    @include flex-col();
    text-align: center;
    .why-us-header {
      @include flex-col();
      margin: 1em;
      text-align: left;
      text-transform: uppercase;
      padding-left: 1em;
      font-size: 2em;
      border-left: 1em solid $color_2;
    }
    .why-us-text {
      margin: .5em;
      .why-us-child {
        @include flex-col();
        margin: 1em;
        padding: 2em;
        letter-spacing: .02em;
        background-color: $white;
      }
    }
    
  }
}
/* providers carousel */
.providers-wrapper{

  background-color: $white;

  .providers-carousel{
    @include flex-col();
    padding: 3em;
   }
   
  .provider{
    @include flex-col();
  }
  
  .providers-headline {
    @include flex-col();
    margin: 1em;
    
    .providers-heading {
      @include flex-col();
      font-size: 2em;
      text-transform: uppercase;
    }
    .providers-sub-heading {
      @include flex-col();
      font-size: 1.2em;
    }
  }
}

//wide screen
 @media screen and (min-width: 700px)  {
    .front-page {
      @include flex-col();
      
    }
    
    .cover-page { 
        .cover-background{
            background-position-x: 5em;
            background-position-y: 10em; 
        }
      .home {
        @include flex-row();        
        .headline-text {
         
        margin: .5em;
        @include sliding-effect2s();
        line-height: 1.5em;
        font-size: 3.5em;
        width: 50vw;
        }
        .headline-subtext {
          position: relative;
          top: 2em;
          @include flex-col();
          justify-content: center;
          width: 40vw;
          .home-carousel{
            //height: 50vh;
            width: 40vw; 
            margin-bottom: 2em; 
            margin-left: 1em;  
            padding: .05em;
            border: solid .015em $color_2; 
          }
          .slide{
            background-color: $color_1;
            height: 40vh;
            .home-carousel1-slide1{
              background-position-x: 50%;
              background-position-y: 50%;
            }   
            .home-carousel1-slide2{
              background-position-x: 50%;
              background-position-y: 50%;
            }   
            .home-carousel1-slide3{
              background-position-x: 50%;
              background-position-y: 50%;
            }   
            .home-carousel2-slide1{
              background-position-x: 50%;
              background-position-y: 50%;
            }   
            .home-carousel2-slide2{
              background-position-x: 50%;
              background-position-y: 50%;
            } 
            .home-carousel2-slide3{
              background-position-x: 50%;
              background-position-y: 50%;
            }          
          } 
        }
      }
    }
    .how-it-works-wrapper {
        @include flex-col();
        .how-it-works-sub-header{
            .how-it-works-sub-header-text{
                font-size: 3em;
            }
        }
        .how-it-works {
           
            @include flex-col();
            background: transparent;
           
            .step {
               @include flex-row();
               justify-content: space-between;
                align-items: center;
                background: transparent;
                margin-top: 0px;
                margin-bottom: 0px;
                padding-top: 0px;
                padding-bottom: 0px;
                
                
                .svg{
                    padding: 1em;
                    width: 400px;
                    height: 300px;
                }
                .step-text-wrapper {
                    .step-header{
                      width: 30vw;
                      font-weight: 600;
                      font-size: 2em;
                    }
                    .step-text{
                        width: 30vw;
                        font-weight: 400;
                    }
                }
                
              }
        }
        .how-it-works > div:nth-child(2){
           flex-direction: row-reverse;
        }
        .how-it-works > div:nth-child(4){
            flex-direction: row-reverse;
        } 
      }
       /*why us*/
      .why-us-wrapper{
        background-color: $color_3;
        position: relative;
        top: 4em;
        padding: 1em;
        .why-us {
          @include flex-row();
          height: 60vh;
          .why-us-header {
            @include flex-col();
            font-weight: 600;
            width: 25vw;
            margin: 1em;
            color: $color_2;
          }
          .why-us-text {
            @include flex-row();
            align-items: baseline;
            flex-wrap: wrap;
            
            width: 70vw;
            
            
            .why-us-child {
              @include flex-col();
              justify-content: flex-start;
              width: 20vw;
              height: 50vh;
              font-size: .75em;
              
              overflow: auto;
              
            }
          }
          
        }
      }
      
      
  }
  