@import "../../base";
  
.front-page {
  @include flex-col();
  
}
  
.cover-page {
  @include flex-col();
  background-color: $color_1;  
  background-image: url(../../assets/images/image1.png);
  background-repeat: no-repeat; 
  background-position-x: -20em;
  background-position-y: 10em; 
  transition: height .15s;   

} 



//wide screen
 @media screen and (min-width: 700px)  {
 }