@import "../../base";

/* sign in sign up*/  
  .signup-wrapper {
    @include flex-col();
    min-height: 60vh;
    width: 100%;
    padding: 1em;
    
    .signup-form-wrapper{
      @include flex-col();
      @include sliding-effect2s();
      padding: 1em;
      text-align: left;
      .headline-text{
        @include flex-col();
        @include sliding-effect();
        width: 100%;
        font-size: 2em;
        font-weight: 600;
      }
      .buttons{
        @include flex-row();
        margin: 1em;
      }
      .social-auth{
        @include flex-row();
        
      }
      
    }
  }
  