@import "../../base";

/* motor-insurance */
.motor-insurance {
    @include flex-col();
    position: relative;
    top: 3em;
    //-color: $;
    width: 100vw;
    
    .motor-insurance-section:nth-child(1){
      flex-direction: row-reverse;
      
    }
    .motor-insurance-section{
      @include flex-row();
      
      .section-text{
        width: 40vw;
        background-color: $color_1;
        color: $color_2;
      }
      .motor-insurance-highlights-img{
        @include flex-col();
        width: 40vw;
        height: 30vw;
      }
    }
    
    .free-quotation-button{
        display: none;
    }
  
    .intro {
      //margin-top: 2em;
      
    }
  
    .headline-text {
      @include sliding-effect();
      @include flex-col(); 
      font-size: 2em;
      margin: 2em;
      align-items: baseline;
      font-weight: 600;
      border-left: .5em $color_2 solid;
      padding-left: .5em;
      text-align: left;
      text-transform: capitalize;
      
    }
  
    .sub-text {  
      @include flex-col();
      @include sliding-effect1s();
      margin-left: 5em;
      text-align: left;
      margin: 3em;
      line-height: 2em;
      letter-spacing: .1em;        
    }
  
    .motor-insurance-highlights{
      background-color: $white;  
      .motor-insurance-section{
        @include flex-row();
        
        .section-text{
          width: 40vw;
        }
        .motor-insurance-highlights-img{
          @include sliding-effect2s();
          @include flex-col();
          width: 40vw;
          height: 50vw;
        }
      }
    }
    .motor-insurance-benefits div{
      margin: 1em;
    }
    .motor-insurance-benefits{
      @include flex-row();
      flex-wrap: wrap;
      text-align: left;
      padding: 2em;
      .motor-insurance-benefits-list{
        margin: 1em;
        @include sliding-effect2s();
        @include flex-col();     
        align-items: left;
        width: 100%;
        .motor-insurance-benefits-list-item{
          @include flex-row();
         
          width: 100%;
          justify-content: left;
          .number{
            @include flex-col();  
            height: 3em;
            width: 3em;
            border-radius: 50%;
            margin: 1em;
            border: .05em solid $color_2;
          }
        }
      }
    }
    
  
    
  }


@media screen and (max-width: 700px)  {
  .motor-insurance{
  
    width: 100%;
    margin-right: 0;
    .motor-insurance-section:nth-child(1){
      flex-direction: column;
      
    }
    
    .motor-insurance-section{
      @include flex-col();
      width: 100%;
      .section-text{
        width: 100%;
       
      }
      .motor-insurance-highlights-img{
        @include flex-col();
        width: 100%;
        height: 40vh;
      }
    }
    
    .free-quotation-button{
        display: none;
    }
  
    .intro {
      
      padding: 1em;
      
    }
  
    .headline-text {
      
    }
  
    .sub-text {  
      
    }
  
    .motor-insurance-highlights{
      background-color: $white;  
      .motor-insurance-section{
        @include flex-col();
        padding: 1em;
        
        .section-text{
          width: 100%;
        }
        .motor-insurance-highlights-img{
          @include sliding-effect2s();
          @include flex-col();
          width: 40vw;
          height: 50vh;
        }
      }
    }
    .motor-insurance-benefits div{
      margin: 1em;
    }
    .motor-insurance-benefits{
     
      .motor-insurance-benefits-list{
       
        .motor-insurance-benefits-list-item{
         
          .number{
            
          }
        }
      }
    }
  }
    
}
