@import "../../base";

.desktop-menu{
    @include flex-col();
    width: 100vw;      
    .AppBar{
      left: 0;
      top: 0;
      width: 100vw;
      height: 4em;
      z-index: 1300;
      .toolbar{
        @include flex-row();
        height: 5em;
        justify-content: space-between;
        .MuiSvgIcon-root{
            font-size: 1.5em;
            color: $color_2;
        }
        .user-buttons{
            @include flex-row();
            
            justify-content: space-around;
            margin-right: 1em;
            .MuiDrawer-paper{
              width: 100vw;
            }
            
            .nav-button{
                @include flex-row();
                //font-size: 1.5em;
                
                justify-content: space-between;
                color: $color_2;
                font-weight: 600;
                text-transform: capitalize;
                .nav-title{
                  margin-left: .5em;
                }
            }
        }
      }
      
    }
    

    .MuiAppBar-colorPrimary{
      background-color: $color_1;
    }
    .drawer{ 
      @include flex-col();  
      width: 10em;
      
      .MuiDrawer-paper{
        position: fixed;
        top: 4em;
        background-color: $color_3;
        width: 10em;
        color: $color_2;
      }       
    }
    .drawerOpen {
      //width: 10em;
      .MuiListItem-gutters{
       
        .home-button{
          margin-right: 1em;
          .MuiSvgIcon-colorPrimary{
            color: $color_2
          }
        }
      }
      .toolbar {
        @include flex-row();
        width: 100%;
        justify-content: flex-end;
        height: 4em;
        .MuiIconButton-root{
          color: $color_2;
        }
        
       
      }
    }
    .drawerClose {
      @include flex-col();
      align-items: baseline;
      justify-content: flex-start;
      overflow: hidden;
     
      
      .MuiListItem-gutters{
        
        .home-button{
          margin-right: 1em;
          .MuiSvgIcon-colorPrimary{
            color: $color_2
          }
        }
      }
      
    }
  
  
}

//smaller screen display none
@media screen and (max-width: 700px)  {
    .desktop-menu{
        display: none;
    }
    
}
