@import "../../base";

/* motor-insurance */
.motor-insurance {
    @include flex-col();
    position: relative;
    top: 3em;
    //-color: $;
    width: 100vw;
    
    .motor-insurance-section:nth-child(1){
      flex-direction: row-reverse;
      
    }
    .motor-insurance-section{
      @include flex-row();
      
      .section-text{
        width: 40vw;
        background-color: $color_3;
        color: $color_2;
      }
      .motor-insurance-highlights-img{
        @include flex-col();
        width: 40vw;
        height: 30vw;
      }
    }
    
    .free-quotation-button{
        display: none;
    }
  
    .intro {
      margin-top: 2em;
      
    }
  
    .headline-text {
      @include sliding-effect();
      @include flex-col(); 
      font-size: 2em;
      margin: 2em;
      align-items: baseline;
      font-weight: 600;
      border-left: .5em $color_2 solid;
      padding-left: .5em;
      text-align: left;
      text-transform: capitalize;
      
    }
  
    .sub-text {  
      @include flex-col();
      @include sliding-effect1s();
      margin-left: 5em;
      text-align: left;
      margin: 3em;
      line-height: 2em;
      letter-spacing: .1em;        
    }
  
    .motor-insurance-highlights{
      background-color: $white;  
      .motor-insurance-section{
        @include flex-row();
        
        .section-text{
          width: 40vw;
        }
        .motor-insurance-highlights-img{
          @include sliding-effect2s();
          @include flex-col();
          width: 40vw;
          height: 50vw;
        }
      }
    }
    .motor-insurance-benefits{
      @include flex-row();
      flex-wrap: wrap;
      text-align: left;
      padding: 2em;
      .motor-insurance-benefits-list{
        margin: 1em;
        @include sliding-effect2s();
        @include flex-col();     
        align-items: left;
        width: 100%;
        .motor-insurance-benefits-list-item{
          @include flex-row();
         
          width: 100%;
          justify-content: left;
          .number{
            @include flex-col();  
            height: 3em;
            width: 3em;
            border-radius: 50%;
            margin: 1em;
            border: .05em solid $color_2;
          }
        }
      }
    }
    
  
    
  }

  /* quotation page */
.quotation-page-wrapper {
  @include flex-col();
  position: relative;
  top: 3em;
  width: 100vw;
  overflow: hidden;
  
  .quotation-body-wrapper{
   background-color: $color_1;
    .product-title{
      @include flex-col();
      @include sliding-effect1s();
      font-size: 2em;
      margin: .5em;
      color: $white;
    }
    .quotation-wrapper {  
      @include flex-col();
      
      .quotation {
        @include flex-col();
        #quotation-header{
          
          @include flex-col(); 
          @include sliding-effect();          
          padding: .5em;
          margin: .5em;
          font-size: 1em; 
          width: 40vw;
        }  
        #quotation-content{
          
          @include flex-col(); 
          // flex-flow: row-reverse;             
          text-align:left;
          padding: 1em;
          font-size: 1em;
          width: 100vw;
          #vehicle-details{
            display: none;
          } 
          .q-content{
            padding: 1em;
          }
          #optional-benefits{
            width: 50em;
            @include sliding-effect2s(); 
            @include flex-col();
            margin: 1em;
            background-color: $color_2;
            color: $white;
                        
            .optional-benefits-listitems{
              @include flex-col();
              .list-item{
                @include flex-row();
              }
            }  
            .q-content-sub{
              padding: 1em;
              font-weight: 400;
              p{
                display: inline;
              }
              p:nth-child(1){
                font-size: 1.5em;
                font-weight: 600;
              }
            }
          }
         
        }      
      }      
    }
  }
}

@media screen and (max-width: 700px)  {
  .motor-insurance{
    .motor-insurance-highlights{
      background-color: $white; 
      width: 100vw; 
      .motor-insurance-section{
        @include flex-col();
        
        .section-text{
          width: 100vw;
        }
        .motor-insurance-highlights-img{
          @include sliding-effect2s();
          @include flex-col();
          width: 100vw;
          height: 50vw;
        }
      }
    }
    .motor-insurance-section:nth-child(1){
      flex-direction: column;
      
    }
    .motor-insurance-section{
      @include flex-col();
      .section-text{
        width: 100vw;
      }
    }
  }
  
}
