$color_1: #00161a;
$color_2: rgb(255, 81, 0);
$white: #ffffff;
$success_color: rgb(35, 105, 0);
$color_3: #0023291f;
$error_color: #791200;
$warning_color: #cc9c00;

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes righttoleft{
  0%   {left:5em; top:0em;}
  100% {left:0em; top:0em;}
}

@mixin fullscreen {
  width: 100vw;
  height: 100vh;
}

@mixin flex-col{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

@mixin flex-row{
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
@mixin display-none{
  display: none;
}
.sliding-effect{
    position: relative;
    animation: righttoleft .5s;
    
  }
  
  
  .sliding-effect1s{
    position: relative;
    animation: righttoleft 1s;
   
  }
  
  .sliding-effect2s{
    position: relative;
    animation: righttoleft 2s;
    
  }
  
  @mixin sliding-effect{
    position: relative;
    animation: righttoleft .5s;
    
  }
  
  
  @mixin sliding-effect1s{
    position: relative;
    animation: righttoleft 1s;
   
  }
  
  @mixin sliding-effect2s{
    position: relative;
    animation: righttoleft 2s;
    
  }
  .display-none{
    display: none;
  }

  .wide-screen{
    @include display-none();
  }

/* motor-insurance */
.motor-insurance {
    @include flex-col();
    //-color: $;
    width: 100vw;
    
    .motor-insurance-section:nth-child(1){
      flex-direction: row-reverse;
      
    }
    .motor-insurance-section{
      @include flex-row();
      
      .section-text{
        width: 40vw;
        background-color: $color_3;
      }
      .motor-insurance-highlights-img{
        @include flex-col();
        width: 40vw;
        height: 30vw;
      }
    }
    
    .free-quotation-button{
        display: none;
    }
  
    .intro {
      margin-top: 2em;
      
    }
  
    .headline-text {
      @include sliding-effect();
      @include flex-col(); 
      font-size: 2em;
      margin: 2em;
      align-items: baseline;
      font-weight: 600;
      border-left: .5em $color_2 solid;
      padding-left: .5em;
      text-align: left;
      text-transform: capitalize;
      
    }
  
    .sub-text {  
      @include flex-col();
      @include sliding-effect1s();
      margin-left: 5em;
      text-align: left;
      margin: 3em;
      line-height: 2em;
      letter-spacing: .1em;        
    }
  
    .motor-insurance-highlights{
      background-color: $white;  
      .motor-insurance-section{
        @include flex-row();
        
        .section-text{
          width: 40vw;
        }
        .motor-insurance-highlights-img{
          @include sliding-effect2s();
          @include flex-col();
          width: 40vw;
          height: 50vw;
        }
      }
    }
    .motor-insurance-benefits{
      @include flex-row();
      flex-wrap: wrap;
      text-align: left;
      padding: 2em;
      .motor-insurance-benefits-list{
        margin: 1em;
        @include sliding-effect2s();
        @include flex-col();     
        align-items: left;
        width: 100%;
        .motor-insurance-benefits-list-item{
          @include flex-row();
         
          width: 100%;
          justify-content: left;
          .number{
            @include flex-col();  
            height: 3em;
            width: 3em;
            border-radius: 50%;
            margin: 1em;
            border: .05em solid $color_2;
          }
        }
      }
    }
    
  
    
  }

  /* quotation page */
.quotation-page-wrapper {
  @include flex-col();
  margin-top: 4em;
  width: 100vw;
  overflow: hidden;
  .free-quotation-button{
    position: fixed;
    top: 5em;
    right: 0;
}
  
  .quotation-body-wrapper{
   background-color: $color_1;
    .product-title{
      @include flex-col();
      @include sliding-effect1s();
      font-size: 2em;
      margin: .5em;
      color: $white;
    }
    .quotation-wrapper {  
      @include flex-col();
      
      .quotation {
        @include flex-col();
        #quotation-header{
          @include flex-col(); 
          @include sliding-effect();          
          padding: .5em;
          margin: .5em;
          font-size: 2.5em; 
          width: 100vw;
        }  
        #quotation-content{
          @include flex-col();              
          text-align:left;
          padding: 1em;
          font-size: 1em;
          width: 100vw;
          #vehicle-details{
            width: 100%;
            @include sliding-effect1s(); 
          } 
          .q-content{
            padding: 1em;
          }
          #optional-benefits{
            @include sliding-effect2s(); 
            @include flex-col();
            margin: 1em;
            background-color: $color_1;
            color: $white;
            width: 100%;            
            .optional-benefits-listitems{
              @include flex-col();
              .list-item{
                @include flex-row();
              }
            }  
            .q-content-sub{
              padding: 1em;
              font-weight: 400;
              p{
                display: inline;
              }
              p:nth-child(1){
                font-size: 1.5em;
                font-weight: 600;
              }
            }
          }
          #provider-details{
            @include flex-col();
            width: 100%;            
            padding: 1em;
            
            .provider{
              @include flex-col();
              padding: 1em;
              img{
                width:100%;
              }
              .q-content-sub{
                padding: 1em;
                font-weight: 400;
              }
              #premium-button{
                margin: 1em;
                width: 50%;
              } 
              #buy-button{
                margin: 1em;
                width: 50%;
                background-color: $color_2;
              } 
              #details-button{
                margin: 1em;
                width: 50%;
              } 
            }
            
            
            .provider-rates{
              @include flex-col();
              margin-top: 1em;
              

              #insurance-details{
                width: 100%;
                margin-bottom: 1em;
              }
              .table-container{
                overflow: scroll;
              }
            }
          }
        }      
      }      
    }
  }
}

@media screen and (max-width: 700px)  {
  .motor-insurance{
    .motor-insurance-highlights{
      background-color: $white; 
      width: 100vw; 
      .motor-insurance-section{
        @include flex-col();
        
        .section-text{
          width: 100vw;
        }
        .motor-insurance-highlights-img{
          @include sliding-effect2s();
          @include flex-col();
          width: 100vw;
          height: 50vw;
        }
      }
    }
    .motor-insurance-section:nth-child(1){
      flex-direction: column;
      
    }
    .motor-insurance-section{
      @include flex-col();
      .section-text{
        width: 100vw;
      }
    }
  }
  
}
