@import "../base";

//motor insurance form 

    .form{
      @include flex-row();
      flex-wrap: wrap;
      align-items: baseline;
      width: 100vw;
      padding: 1em;
      
    
      
      
      
    }
  

  @media screen and (max-width: 700px)  {
    .form{
      @include flex-col();
    }
  }