@import "../../base";

.quote-form{
    @include flex-col();
    width: 100%;
    margin: .25em;
    padding: .5em;
    margin-bottom: 1em;
    width: 350px;
    
   
    .quote-form-sub-header{
      font-weight: 700;
    }
      
    .form-controls {
      width: 15em;
      height: 6em;
      @include sliding-effect2s();
    }
   
  }