@import "../../base";

/* contacts */
.contacts-wrapper {
    @include flex-col();
    width: 100vw;
    position: relative;
    top: 3em;
    border-top: $color_3 .05em solid;
    border-bottom: $color_3 .05em solid;
    background-color: $color_1;
    color: $white;
  }
  
  .contacts-header {
    @include flex-col();
    flex-wrap: wrap;
    margin: 2em;
    border: $color_3 solid .05em;
    
  }
  .contacts {
    width: 30vw;
    @include flex-row();
    justify-content: space-between;
    align-items: baseline;
    text-align: left;
    
    padding-left: 1em;
    .section{

      font-size: 1em;
    }

    
  }
  /* social media */
  .social-media {
    @include flex-row();
    min-height: 5vh;
    .MuiSvgIcon-root{
      margin: .5em;
      color: $color_3;
      font-size: 2em;
    }
  }
  
  @media screen and (max-width: 700px)  {
    .contacts {
      width: 100vw;
      justify-content: space-between;
      align-items: baseline;
      
    }
  }
 