$color_1: #003846;
$color_2: #003846c0;
$color_3: rgb(255, 0, 0);
$white: #ffffff;
$success_color: rgb(35, 105, 0);

$error_color: #fffb00;
$warning_color: #cc9c00;


@keyframes spinY {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 

@keyframes spinX {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(360deg);
  }
}
@keyframes righttoleft{
  0%   {left:5em; top:0em;}
  100% {left:0em; top:0em;}
}

@mixin fullscreen {
  width: 100vw;
  height: 100vh;
}

@mixin flex-col{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

@mixin flex-row{
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
@mixin display-none{
  display: none;
}

.sliding-effect{
  position: relative;
  animation: righttoleft .5s;
  
}


.sliding-effect1s{
  position: relative;
  animation: righttoleft 1s;
 
}

.sliding-effect2s{
  position: relative;
  animation: righttoleft 2s;
  
}

@mixin sliding-effect{
  position: relative;
  animation: righttoleft .5s;
  
}


@mixin sliding-effect1s{
  position: relative;
  animation: righttoleft 1s;
 
}

@mixin sliding-effect2s{
  position: relative;
  animation: righttoleft 2s;
  
}
