@import "./base";

.App {
  @include flex-col();
  font-family: Open Sans,Roboto,Oxygen,Ubuntu,Cantarell,Lato,Helvetica Neue,sans-serif;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
}


.loader{
  @include flex-col();
  img{
    animation: spin 3s ;
    animation-iteration-count: infinite; 
  }
}
#root {
 color: $color_1;
 background-color: $white;
 font-weight: 400;
 width: 100vw;
 overflow-x: hidden;
  .wide-screen{
    display: none;
  }
}
body {
  text-align: center;
  .MuiFab-primary{
    background-color: $color_2;
    height: 40px;
    width: 40px;
  }
  .MuiSvgIcon-colorPrimary{
    color: $color_1;
    font-size: 1.5em;
  }
  .MuiListItemIcon-root{
    color: $color_2;
  }
  .MuiAppBar-colorPrimary{
    background-color: $color_1;
  }
  .MuiButton-outlinedPrimary{
    color: $color_1;
  }
  .MuiButton-outlined{
    border: 1px  solid $color_2;
  }
  .headline-text{
    font-size: 2em;
    font-weight: 400;
  }
  .MuiButton-textPrimary{
    color: $color_1;
  }
}

.MuiSnackbar-root{
  .success {
    background-color: $success_color;
  }
  .error{
    background-color: $error_color;
  }
  .warning {
    background-color: $warning_color;
  }
}


.divider {
  margin: 0em;
  padding: 0em;
  width: 100%;
  background-color: $color_2;
}

::-webkit-scrollbar{
  //display: none;
}





@media screen and (max-width: 450px)  {
  
  .home-buttons button {
    font-size: 1em;
  }
  .vehicle-controls {
    width: 10em;
  }
  
 }


 @media screen and (max-width: 600px)  {
   
  .cover-background{
    background-position-x: -10vh;
    background-position-y: 25vh;
  }  

  
}


// 800--> screen size
////
//@include
@media screen and (min-width: 700px)  {
  
  #root{
    .mobile-screen{
     display: none;
    }
    .wide-screen{
      display: flex;
    }
  }
  
  
  
  
  
  
 
  
}


  


 