$color_1: #002329;
$color_2: rgb(255, 81, 0);
$white: #ffffff;
$success_color: #3F9811;
$color_3: #0023291f;
$error_color: #ff0000;
$warning_color: #cc9c00;

@keyframes righttoleft{
  0%   {left:5em; top:0em;}
  100% {left:0em; top:0em;}
}

@mixin fullscreen {
  width: 100vw;
  height: 100vh;
}

@mixin flex-col{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

@mixin flex-row{
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

#root {
 color: $color_1;
 background-color: $color_3;
 font-weight: 300;
 width: 100vw;
 overflow-x: hidden;
}

.sliding-effect{
  position: relative;
  animation: righttoleft .5s;
  position: relative; 
}


.sliding-effect8s{
  position: relative;
  animation: righttoleft 1s;
  position: relative; 
}

.sliding-effect10s{
  position: relative;
  animation: righttoleft 2s;
  position: relative; 
}

body {
  text-align: center;
  .MuiFab-primary{
    background-color: $color_2;
    height: 40px;
    width: 40px;
  }
  .MuiBackdrop-root{
    //z-index: -1;
  }
  .MuiSvgIcon-colorPrimary{
    color: $color_1;
    font-size: 1.5em;
  }
  .MuiListItemIcon-root{
    color: $color_2;
  }
  .MuiAppBar-colorPrimary{
    background-color: $color_1;
  }
  .MuiButton-outlinedPrimary{
    color: $color_1;
  }
  .MuiButton-outlined{
    border: 1px  solid $color_2;
  }
  .headline-text{
    font-size: 2em;
    font-weight: 400;
  }
  .MuiButton-textPrimary{
    color: $color_1;
  }
}

.next-arrow{
  @include flex-col();
  align-items: flex-end;
  position: fixed;
  top: 16em;
  right: 0;
  z-index: 1299;  
  margin: 1em;
  margin-bottom: 12em;
}


.get-started-button{
  @include flex-col();
  align-items: flex-end;
  z-index: 1299;
  position: fixed;
  top: 10em;
  right: 0;
  margin:1em;

} 

.free-quotation-button{
  @include flex-col();
  align-items: flex-end;
  position: fixed;
  top: 4em;
  right: 0;
  margin:1em;
  z-index: 1299;

} 

.divider {
  margin: 0em;
  padding: 0em;
  width: 100%;
  background-color: $color_2
}



//motor insurance form 
.swipeable-quote-form {
  width: 100vw;
  //overflow-x: hidden;
  @include flex-col();
  background-image: linear-gradient(to top, $color_1, $color_3);
  align-items: baseline;
  
  
  .request-button{
    @include flex-col();
    width: 95%;
    margin: 1em;
    padding: 1em;
    .MuiButton-containedPrimary{
      background-color: $color_2;
      width: 15em;
    }
  }
  .swipeable-quote-form-sub-header{
    font-size: 1.5em;
    text-transform: capitalize;
    margin-bottom: 1em;
  }
  .close-btn-wrapper {
    @include flex-row();
    width: 100%;    
    background-color: $color_1;
    justify-content: space-between;  
    padding: 1em; 
    .appbar-title{
      font-size: 1.5rem;
    }
    .close-btn{
      border: .05em solid $color_2;
    } 
    .MuiSvgIcon-colorPrimary{
      color: $color_2;
      font-size: 2.5em;
    }    
  }
  .form{
    @include flex-col();
    width: 100%;
    margin-top: 6em;
    padding: 1em;

    .swipeable-quote-form-form{
      @include flex-col();
      width: 100%;
     
      padding: 1em;
      margin-bottom: 1em;
      .swipeable-quote-form-content{
        @include flex-col();
        width: 100%;
        padding: 1em;
        //form controls
      .form-controls {
        width: 15em;
        height: 6em;
      }
      }
    }
  }
  
}



.svg {
  @include flex-col();
  height: 15em;
  width: 15em;
  border: $color_2 solid .005em;
}

.App {
  @include flex-col();
  font-family: Open Sans,Roboto,Oxygen,Ubuntu,Cantarell,Lato,Helvetica Neue,sans-serif;
  -webkit-font-smoothing: antialiased;
}

.top-nav{
  @include flex-col();
  position: fixed;
  top: 0;
  z-index: 1;

  .App-header {
    @include flex-row();
    
    background-color: $color_1;
    min-height: 5vh;
    width: 100vw;
    justify-content: space-between;
    color: $color_2;
    padding-right: 1em;
    padding-left: 1em;
    //border-bottom: .05em solid $color_2;
  
    .menu-icon {
      padding: none;
      border: 1px solid $color_2;
  
      button {
        color: $color_2;
      }
    }
  
    .logo{
      img{
        height: 4em;
        width: 4em;
      }
    }
    
  }
}



.nav-login{
  .MuiSvgIcon-colorPrimary{
    font-size: 3em;
    color: $color_2;
  }
  
} 



.sidenav {
  @include fullscreen();
  color: $white;
  background-color: $color_1;
  .MuiList-root{
    margin-top: 5em;
  }
  .close-btn-wrapper {
    @include flex-row();
    width: 100%;    
    background-color: $color_1;
    justify-content: space-between;  
    padding: 1em; 
    .appbar-title{
      font-size: 1.5rem;
    }
    .close-btn{
      border: .05em solid $color_2;
    } 
    .MuiSvgIcon-colorPrimary{
      color: $color_2;
      font-size: 2.5em;
    }    
  }
}

.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;

}

.nav-items {
  padding: 2em;
  font-weight: 600;
}

.nav-item {
  padding: 5px;

}

.nav-item:hover {
  background-color: $color_1;

}

.menu {
  width: 30px;
  height: 5px;
  background-color: $white;
  margin: 6px 0;
}

.front-page {
  @include flex-col();
  
}

.cover-page {
  @include flex-col();
  @include fullscreen();
  position: relative;
  font-weight: 700;  
  background-image: linear-gradient(to bottom, $color_1, $color_3);
  
  .cover-background{
    background-image: url(./assets/images/image1.png);
    background-repeat: no-repeat;  
  }

 
  //home
.home {
  @include flex-col();
  @include fullscreen();
  align-items: baseline;
  text-align: left; 
  color: $white; 

  .headline-text {
    @include flex-col();
    justify-content: space-between; 
    margin: 1em;
    margin-bottom: 1em;
    font-weight: 400;
    font-size: 2em;
   
  }
  .headline-subtext {
    width: 70%;
    
    .home-carousel{
      width: 100%; 
      margin-bottom: 2em; 
      margin-left: 1em;  
      padding: .05em;
      border: solid .015em $color_2; 
      
    }
    .home-carousel1{
      
    }
    .home-carousel2{
      
    }
    
    .slide{
      background-color: $color_1;
      height: 20vh;
      .home-carousel1-slide1{
        height: 100%;
        background-image: url(./assets/images/img_placeholder.png);
        background-repeat: no-repeat;
        background-position-x: 5em;
        background-position-y: 1em;
       
      }   
      .home-carousel1-slide2{
        height: 100%;
        background-image: url(./assets/images/img_placeholder.png);
        background-repeat: no-repeat;
        background-position-x: 5em;
        background-position-y: 1em;
       
      }   
      .home-carousel1-slide3{
        height: 100%;
        background-image: url(./assets/images/img_placeholder.png);
        background-repeat: no-repeat;
        background-position-x: 5em;
        background-position-y: 1em;
       
      }   
      .home-carousel2-slide1{
        height: 100%;
        background-image: url(./assets/images/img_placeholder.png);
        background-repeat: no-repeat;
        background-position-x: 5em;
        background-position-y: 1em;
       
      }   
      .home-carousel2-slide2{
        height: 100%;
        background-image: url(./assets/images/img_placeholder.png);
        background-repeat: no-repeat;
        background-position-x: 5em;
        background-position-y: 1em;
       
      } 
      .home-carousel2-slide3{
        height: 100%;
        background-image: url(./assets/images/img_placeholder.png);
        background-repeat: no-repeat;
        background-position-x: 5em;
        background-position-y: 1em;
       
      }          
    } 
  }
  
}

  
}









/* how it works */
.how-it-works-wrapper {
  @include flex-col(); 
}



.how-it-works-sub-header{
  @include flex-col();
  padding: 1.5em;  
}

.how-it-works-sub-header-text{
  @include flex-col();
  padding-left: 1em; 
  min-height: 10vh;
  font-size: 2em;
  font-weight: 300;
  border-left: $color_2 .05em solid;
  
}

.how-it-works {
  @include flex-col();
  background-color: $white; 
  text-align: center;
}

.step {
  @include flex-col();
  padding: 1em;
  margin: 1em;
}


.step-header{
  margin: 1em;
  border-bottom: $color_2 solid .05em;
  font-size: 1.5em;
  font-weight: 400;
  text-transform: capitalize;
}

.step-text {
  font-weight: 300;
  letter-spacing: .05em;
}


/*why us*/
.why-us {
  @include flex-col();
  text-align: center;
}

.why-us-header {
  @include flex-col();
  margin: .75em;
  text-align: left;
  text-transform: uppercase;
  padding-left: 1em;
  font-size: 2em;
  font-weight: 300; 
  border-left: 1em solid $color_2;
}

.why-us-text {
  margin: .5em;
  
}

.why-us-child {
  @include flex-col();
  margin: .5em;
  padding: 1em;
  font-weight: 300;
  letter-spacing: .02em;
  background-color: $white;
}


/* providers carousel */
.providers-wrapper{

  background-color: $white;

  .providers-carousel{
    @include flex-col();
    padding: 3em;
   }
   
  .provider{
    @include flex-col();
  }
  
  .providers-headline {
    @include flex-col();
    margin: 1em;
    
    .providers-heading {
      @include flex-col();
      font-size: 2em;
      text-transform: uppercase;
    }
    .providers-sub-heading {
      @include flex-col();
      font-size: 1.2em;
      font-weight: 300;
    }
  }
}

/* contacts */
.contacts-wrapper {
  @include flex-col();
  width: 100vw;
  align-items: baseline;
  border-top: $color_2 .05em solid;
  background-color: $color_1;
  color: $white;
}

.contacts-header {
  @include flex-col();
  margin: 2em;
  border: $color_2 solid .05em;
  
}
.contacts-child {
  @include flex-col();
  align-items: baseline;
  text-align: left;
  padding-left: 1em;
  font-weight: 300;
  margin: 2em;
  
}
/* social media */
.social-media {
  @include flex-row();
  min-height: 5vh;
}

.fa:hover {
  opacity: 0.7;
}


/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa {
  @include flex-col();
  min-width: 3em; 
  min-height: 3em;
  margin: .1em;  
  text-decoration: none;
  border-radius: 50%;
}

/* footer */
.footer-wrapper {
  @include flex-col();
  min-height:5vh;
  color: $color_1;
  background-color: $white; 
  width: 100vw;
  footer{
    font-weight: 600;
    padding: .5em;
    font-size: .75em;    
    display: inline;
    a{
      color: $color_2;
    }
  }
  
}


/* motor-insurance */
.motor-insurance {
  @include flex-col();
  margin-top: 4em;
  width: 100vw;

  .intro {
    margin-top: 2em;
  }

  .headline-text {
    @include flex-col(); 
    font-size: 1.5em;
    margin: 2em;
    align-items: baseline;
    font-weight: 400;
    border-left: .5em $color_2 solid;
    padding-left: 1em;
    text-align: left;
    text-transform: capitalize;
    
  }

  .sub-text {  
    @include flex-col();
    text-align: left;
    margin: 3em;
    line-height: 2em;
    letter-spacing: .1em;  
    
  }

  .motor-insurance-highlights{
    background-color: $white;

    .motor-insurance-highlights-img{
      height: 20em;
      @include flex-col();
    }
  }
  .motor-insurance-benefits{
    @include flex-col();
    align-items:baseline;
    text-align: left;
    margin: 1em;
    padding: 2em;

    .motor-insurance-benefits-list{
      @include flex-col();     
      align-items: left;
      width: 100%;
      .motor-insurance-benefits-list-item{
        @include flex-row();
        width: 100%;
        justify-content: left;
        .number{
          @include flex-col();  
          height: 3em;
          width: 3em;
          border-radius: 50%;
          margin: 1em;
          border: .05em solid $color_2;
        }
      }
    }
  }
  

  
}

//rates
.rates {
  @include flex-col();
  margin-top: 5em;
  .rates-wrapper {
    @include flex-col();
  }
  .rates-title-wrapper {
    text-align: left;
    font-size: 1.5em;
    margin: 2em;
  }
  
  .rates-title {
    padding-left: 1.5em;
    border-left: $color_2 .1em solid;
    text-transform: capitalize;
  
  }

  .rates-form-wrapper {
    @include flex-col();
    background-color: $white;
  }
  
  .rates-form {
    @include flex-col();
    justify-content: left;
    text-align: left;
    .quote-form-header{
      @include flex-col();
      width: 100vw;
      text-align: left;
      font-weight: 400;
      font-size: 1.5em;
      padding-left: 1em;
      padding: 1em;
      .quote-form-nav {
       @include flex-row();
       
      }
    }
  }  
  .rates-submit-button-wrapper{
    margin: 2em;
  }
  
}


/* quotation request form */
.quote-form-wrapper{
  @include flex-col();
  .quote-form {
    @include flex-row();
    flex-wrap: wrap;
    margin: 1em;
  }
  .quote-form-nav svg{
    cursor: pointer;
  }
}




/* quotation page */
.quotation-page-wrapper {
  @include flex-col();
  margin-top: 4em;
  width: 100vw;
  overflow: hidden;
  .quotation-body-wrapper{
    background-image: linear-gradient(to top, $color_1, $color_3);
    .product-title{
      @include flex-col();
      font-size: 1.5em;
      margin: 1em;
    }
    .quotation-wrapper {  
      @include flex-col();
      .quotation {
        @include flex-col();
        #quotation-header{
          @include flex-col();           
          padding: .5em;
          width: 95vw;
          font-size: 2.5em; 
        }  
        #quotation-content{
          @include flex-col();              
          text-align:left;
          padding: 2em;
          font-size: 1em;  
          border-top: none;
          #vehicle-details{
            margin: .5em;
            width: 100%;
          } 
          .q-content{
            padding: 1em;
          }
          #optional-benefits{
            margin: 1em;
            background-color: $color_3;
            .optional-benefits-listitems{
              @include flex-col();
              align-items: left;              
            }  
            .q-content-sub{
              padding: 1em;
              font-weight: 400;
              p{
                display: inline;
              }
              p:nth-child(1){
                font-size: 1.5em;
                font-weight: 600;
              }
            }
          }
          #provider-details{
            @include flex-col();
            margin: 1em;
            .provider{
              @include flex-col();
              padding: 1em;
              margin: .5em;
              .q-content-sub{
                padding: 1em;
                font-weight: 400;
              }
              #premium-button{
                margin: 1em;
                width: 50%;
              } 
              #buy-button{
                margin: 1em;
                width: 50%;
                background-color: $color_2;
              } 
              #details-button{
                margin: 1em;
                width: 50%;
              } 
            }
            .provider-rates{
              @include flex-col();
              width: 100%;

              #insurance-details{
                width: 100%;
                margin-bottom: 1em;
              }
              .table-container{
                overflow: scroll;
              }
            }
          }
        }      
      }      
    }
  }
}

//claims page
.claims-wrapper{
  @include flex-col();
  margin-top: 8vh;
  min-height: 100vh;
}

.who-are-we-wrapper{
  @include flex-col();
  margin-top: 8vh;
  min-height: 100vh;
}

.everythingyouneedtoknow-wrapper{
  @include flex-col();
  margin-top: 8vh;
  min-height: 100vh;
}


/* sign in sign up*/
.signin-wrapper {
  @include flex-col();
  margin-top: 8vh;
  min-height: 100vh;
  width: 100%;
  .headline-text{
    margin: 1em;
  }
  .signin-form-wrapper{
    padding: 1em;
    text-align: left;
    .signin-button{
      @include flex-col();
      align-items: baseline;
      .signup{
        text-transform: capitalize;
      }
      button{
        margin-top: 1em;

      }
    }

  }
}


.signup-wrapper {
  @include flex-col();
  margin-top: 8vh;
  min-height: 100vh;
  width: 100%;
  .headline-text{
    margin: 1em;
  }
  .signup-form-wrapper{
    padding: 1em;
    text-align: left;
  }
  .success {
    background-color: $success_color;
  }
  .error{
    background-color: $error_color;
  }
  .warning {
    background-color: $warning_color;
  }
}

/* dashboard */
.dashboard {
  @include flex-col();
  height: 100vh;
  width:100vw;
  justify-content: flex-start;
 
  .dashboard-wrapper{
    @include flex-col();
    width: 85vw;
    height: 100vh;
    margin-left: 15vw;
    margin-top: 10vh;
    margin-right: 1em; 
    align-items: flex-start;
    justify-content: flex-start;
    overflow-y: scroll;
    
    .profile{
      @include flex-col();
      width: 100%;
      margin: .5em;
      .avatar{
        height: 100px;
        width: 100px;
        margin: 1em;
      }
      .user-details{
        width: 100%;
        text-align: left;
        padding: 1em;
        
      }
    }
    .payment-history{
      @include flex-col();
      width: 100%;
      padding: 1em;
      margin: .5em;
      text-align: left;
      .content{
        width: 100%;
      }
      
    }
    .insurance-covers{
      @include flex-col();
      width: 100%;
      padding: 1em;
      margin: .5em;
      text-align: left;
      .content{
        width: 100%;
      }
      
    }
    .display-none{
      display: none;
    }
    
    
    .dash-menu{
      @include flex-col();
      width: 100vw;      
      .AppBar{
        left: 0;
        top: 0;
        width: 100vw;
        z-index: 1301;
        height: 4em;
        .toolbar{
          @include flex-row();
          justify-content: space-between;
          align-items: baseline;
        }
        
      }
      .appBarShift {
        margin-left: 40vw;
        width: 60vw;
      }
  
      .MuiAppBar-colorPrimary{
        background-color: $color_1;
      }
      .drawer{ 
        @include flex-col();  
        width: 40vw;
        
        .MuiDrawer-paper{
          
          position: absolute;
        }       
      }
      .drawerOpen {
        @include flex-col();
        align-items: baseline;
        justify-content: flex-start;
        width: 40vw;
        background-color: $color_1;
        color: $white;
        .MuiListItem-gutters{
         
          .home-button{
            margin-right: 1em;
            .MuiSvgIcon-colorPrimary{
              color: $color_2
            }
          }
        }
        .toolbar {
          @include flex-row();
          width: 100%;
          justify-content: flex-end;
          height: 4em;
          .MuiIconButton-root{
            color: $color_2;
          }
          
         
        }
      }
      .drawerClose {
        @include flex-col();
        align-items: baseline;
        justify-content: flex-start;
        overflow: hidden;
        width: 12vw;
        background-color: $color_1;
        .MuiListItem-gutters{
          
          .home-button{
            margin-right: 1em;
            .MuiSvgIcon-colorPrimary{
              color: $color_2
            }
          }
        }
        
      }
    
    
  }
  
  
    .MuiDrawer-paper{
      
    }
    
  }

}



/////////











.cover {
  display: flex;
  flex-direction: column;
  margin: 2em;
}

.covers {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.covers-wrapper {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}


.cover-scope {
  text-align: left;
  padding: 1em;
}

.cover-scope h2 {
  margin: .5em;
  font-size: 1em;
}

.cover-scope div{
  text-align: left;
  margin: .5em;
  font-size: 1em;
}

.payments-page {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  flex-grow: 3;
  
}

.payments-page div:nth-of-type(1) {flex-grow: 3;}
.payments-page  div:nth-of-type(2) {flex-grow: 1;}

.payment-options {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  text-align: left;
  margin: 2em;
  
}

.payment-options img {
  width: 50px;
  height: 50px;
}

.p-option {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  text-align: left;
  
}

.mastercard {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.mastercard img {
  width: 300px;
  height: 200px;
}

#creditcardinfo {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

#creditcardinfodate {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 450px)  {
  .cover-page{    
    
  }

  .home {    
   
  }
  .headline-text {       
    
    
  }
  .headline-subtext {
    
   
  }
  .home-buttons{
    
  }
  
  .home-buttons button {
    font-size: 1em;
  }
  .why-us-child img{
    
  }
  .vehicle-controls {
    width: 10em;
  }
  
 }


 @media screen and (max-width: 600px)  {
  .home{
    
  }

  table {
    
  }
  .cover-background{
    background-position-x: -10vh;
    background-position-y: 25vh;
  }  

  .page-headline-text {
    

  }

  .headline-text{   
    
  }

  .headline-subtext{
    
  }
  .product-description-wrapper{
    
  }
}



@media screen and (min-width: 600px)  {
  .headline-text h1{
  
  }
  .home {
   
  }

  
  .headline-text h1{
   
  }
  
  .headline-subtext {
   
  }
  
  .home-buttons {
  
  }
  
  
  .get-started-button button{
   
  }
  
  .free-quotation-button button{
  
  }
}



 