#root {
 color: #001929;
}


.App {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-content: center;
  text-align: center;
  font-family: Open Sans,Roboto,Oxygen,Ubuntu,Cantarell,Lato,Helvetica Neue,sans-serif;
  -webkit-font-smoothing: antialiased;
}


.App-header {
  background-color: #001929e1;
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #f60;
  padding: 1rem;
  
}



.sidenav {
  min-width: 100vw;
  min-height: 100vh;
  color: #ffffff;
  background-color: #001929;
}

.closebtn {

  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;

}

.nav-items {
  display: flex;
  flex-flow: column;
  padding: 2rem;
  font-weight: 600;
}

.nav-item {
  padding: 5px;

}

.nav-item:hover {
  background-color: #045a691c

}

.menu {
  width: 30px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
}

.front-page {
  display: flex;
  flex-flow: column;
  
}

.cover-page {
  display: flex;
  flex-flow: column;  
  justify-content: center;
  min-height: 100vh;
  font-weight: 700;
  background-image: url(./assets/images/image1.png);
  background-position-x: 10rem;
  background-color: #001929b7;
  background-repeat: no-repeat;  
  
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 3rem;
  max-width: 50vw;
  text-align: left;
  
}


.headline-text {
  display: flex;
  flex-flow: column;
  justify-content: space-between;  
  margin-right: 10vw;
  margin-bottom: 3rem;
  color: #ffffff;
  
}

.headline-text h1{
  font-weight: 300;
}

.headline-subtext {
  font-weight: 400;
  color: #ffffff;
  max-width: 30vw;
  

  
}

.home-buttons {
  display: flex;
  flex-flow: row;
  
}


.get-started-button button{
  background: #f60;
  margin-right: 1rem;
}

.free-quotation-button button{
  color: #ffffff;
  background-color: #001929;
}

.how-it-works {
  display: flex;
  flex-flow: row wrap; 
  justify-content: center; 
  align-items: center;
  min-height: 80vh;
  background-color: #ffffff; 
}

.step {
  display: flex;
  flex-flow: column;
  padding: 1rem;
  margin: 1rem;
}

.step-header {
  margin-top: 2rem;  
}

.how-it-works-wrapper {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: #00192927;
  margin-top: 2rem;
 
}

.how-it-works-sub-header{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
 
  
}

.how-it-works-sub-header-child{
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  padding-left: 1rem;
  
  
 
  min-height: 10vh;
  border-left: #f60 1rem solid;
}

.how-it-works-sub-header h1{
  font-size: 2rem;
  font-weight: 300;
}

.step-header{
  margin-bottom: 1rem;
  border-bottom: #f60 solid .05rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.why-us {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  background-color: #00192927;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.why-us-header {
  text-align: left;
  padding-left: 1rem;
  font-size: 2rem;
  font-weight: 300;
  margin: 2rem;
  border-left: 1rem solid #f60;
}

.why-us-text {
  display: flex;
  flex-flow: column;
  min-height: 60vh;
  background-color: #ffffff;
  border: .01rem solid #f60;
  margin: 1rem;
}

.why-us-child {
  margin: 2rem;
  font-weight: 300;
  letter-spacing: .02rem
}

.why-us-child img{
  min-height: 20rem;
  min-width: 20rem;
  background-color: #0019292d;
}

.why-us-child h1{
  font-size: 1.5rem;
  margin: 1rem;
}

/* contacts */
.contacts-wrapper {
  display: flex;
  flex-flow: column;
  margin-top: 2rem;
  min-height: 100vh;
  color: #ffffff;
  background-color: #001929d0;
}

.contacts-wrapper h1 {
  margin-top: 3rem;
}

.contacts-header {
  padding-left: 1rem;
  font-size: 2.5rem;
  font-weight: 300;
  margin: 2rem;
  
}
.contacts-child {
  text-align: left;
  border-left: .01rem solid #f60;
  padding-left: 1rem;
  font-weight: 300;
  margin: 2rem;
  
}

/* footer menu */
.footer-menu {
  color: #ffffff;
  background-color: #001929;
}

.devider {
  margin: 0rem;
  padding: 0rem;
  background-color: rgba(255, 102, 0, 0.26);
}

/* social media */
.social-media {
  display: flex;
  flex-flow: row;
  background-color: #001929;
  justify-content: center;
  align-items: center;
  min-height: 5vh;
}

.fa:hover {
  opacity: 0.7;
}


/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  min-width: 3rem; 
  min-height: 3rem;
  margin: .1rem;  
  text-decoration: none;
  border-radius: 50%;
}

/* page2 */

.page2-cover {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  background-color: #001929c4;
  min-height: 40vh;
}


.page-headline-text {
  display: flex;
  flex-flow: column;
  justify-content: baseline;
  justify-content: space-between;  
  margin-left: 2rem;
  max-width: 50vw;
  color: white;
  text-align: left;
}

.page-headline-text button {
  background-color: #f60;
}

@media screen and (max-width: 600px)  {
  .home{
    min-width: 100vw;
  }
  .cover-page{
    background-position-x: -10vh;
    background-position-y: 10vh;
    justify-content: flex-start;
    align-items: flex-start;
  }

  

  .page2-cover {
    background-position-x: -100vh;
    background-position-y: -20vh;

  }
  .page-headline-text {
    min-width: 100vw;   

  }

  .headline-text{   
    margin-right: 2rem;
  }

  .headline-subtext{
    max-width: 30vh;    
  }

 }

 @media screen and (max-width: 400px)  {
  .cover-page{    
    background-position-y: -20vh;    
  }

  .home {    
    margin-left: .5rem;
    min-height: 60vh;      
  }
  .headline-text {       
    font-size: 1rem;
    
  }
  .headline-subtext {
    margin-bottom: 5rem;
    font-size: .9rem;
    word-spacing: .25rem;
  }
  .home-buttons button {
    font-size: .75rem;
  }
  .why-us-child img{
    min-height: 15rem;
    min-width: 15rem;
  }
  
 }




.providers-headline {
  margin-top: 2rem;
}

.providers-headline p{
 color: #0019298f;
 font-size: 1rem;
}

.providers {
  display: flex;
  justify-content: center;
  overflow-x: auto; 
  -webkit-overflow-scrolling: touch;
}

.providers-carousel {
  
}

.slider-wrapper {
  background-color: white;
}

/* covers subcategory */
.cover-wrapper{
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

.coversub-cover {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  background-color: #001929c4;
  min-height: 30vh;
  text-align: left;
  padding: 1rem;
  color: white;
}

.coversub-header-text {
  display: flex;
  flex-flow: column;
  justify-content: center;
  
}

.main-body-wrapper{
  display: flex;
  flex-flow: column;
  padding:1rem;

}

.main-body-highlight-text {
  font-size: 2rem;
  padding-left: 1rem;
  margin-top: 2rem;
  border-bottom: #f60 .05rem solid;


}

.main-body-header-text h2{
  font-size: 1.5rem;
  margin-top: 2rem;
}

.main-body-text {
  margin: 1rem;
  padding: 1rem;
}

.coversub-button button {
  background-color: #f60;
}



/* footer */

.footer-wrapper {
  display: flex;
  flex-flow: column;
  justify-content: center;
  color: white;
  align-items: center;
  text-align: center;
  font-size: 1rem;
  min-height:15vh;
  min-width: 100vw;
  background-color: #001929;
}

/* sign in */

.signin-page {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.signin-wrapper {
  min-width: 50vw;
  max-width: 80vw;
  min-height: 60vh;
  margin-top: 3rem;
}

.signup-page {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.signup-wrapper {
  min-width: 40vw;
  min-height: 80vh;
  margin-top: 3rem;
}

.signup-names-flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

}

.signup-names-flex input{
  max-width: 300px;
}

.signin-button p{
  margin-top: 1rem;
}

/* dashboard */
.dashboard {
  display: flex;
  text-align: left;

}

.dash-nav-item {
  padding: 1rem;
}

.dashboard-wrapper {
  display: flex;
  flex-flow: column;
  min-width: 100vw;
  min-height: 100vh;
}

.dashboard-nav{
  margin: 1rem;

}

.dash-side-nav-items {
  display: flex;
  flex-flow: column;
  font-weight: 600;  
}

.dashboard-main{
  display: flex;
  flex-flow: column;
  padding: 2rem;
  font-weight: 600;
  padding: 2rem;
  min-width: 100vw;
}

.profile {
  display: flex;
  flex-flow: column;
}

/* highlights */
.highlights {
  display: flex;
  flex-flow: column;
}

.highlight {
  display: flex;
  flex-flow: column;
  text-align: left;
}


.highlight-title {
  border-bottom: .05rem #f60 solid; 
  font-size: 1.5rem;
  padding-left: .25rem;
  margin: 1rem;
}

.highlight-text {
  padding: 1rem;
}

.highlight-button {
  margin: 1rem;
}


.highlight-button button{
  color: #f60;
}

.highlight-card {
  margin: 1rem;
  display: flex;
  flex-flow: column;
}


/*  */

.covers-list {
  display: flex;
  flex-flow: column;
}

.cover {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

.covers {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.covers-wrapper {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}


.cover-scope {
  text-align: left;
  padding: 1rem;
}

.cover-scope h2 {
  margin: .5rem;
  font-size: 1rem;
}

.cover-scope div{
  text-align: left;
  margin: .5rem;
  font-size: 1rem;
}





@media screen and (max-width: 400px)  {
  
}

@media screen and (max-width: 600px)  {
  .highlight-card {
    
  }
}

.rates {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}




.quote-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.quotation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
  margin: 20px;

 
}

.quotation h1{
  text-align: center;
}

.payments-page {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  flex-grow: 3;
  
}

.payments-page div:nth-of-type(1) {flex-grow: 3;}
.payments-page  div:nth-of-type(2) {flex-grow: 1;}

.payment-options {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  text-align: left;
  margin: 2rem;
  
}

.payment-options img {
  width: 50px;
  height: 50px;
}

.p-option {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  text-align: left;
  
}

.mastercard {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.mastercard img {
  width: 300px;
  height: 200px;
}

#creditcardinfo {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

#creditcardinfodate {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}