@import "./base";

  
//width > 700
@media screen and (min-width: 700px)  {
    .swipeable-quote-form {
        //width: 40vw;
        .form{
         
      
          .swipeable-quote-form-form{
            
            .swipeable-quote-form-content{
             
              //form controls
            .form-controls {
             
              
            }
            }
          }
        }
      }
      .top-nav{
        .App-header {
          .nav-buttons{
            @include flex-row();
            .MuiSvgIcon-colorPrimary{
              color: $color_2
            }
            .home-button{
              margin-right: 1em;
              
            }
            .next-arrow{
              @include flex-col();
              align-items: flex-end;
              position: relative;
              margin: 1em;
              .button-text{
                display: none;
              }
              
            }
            .get-started-button{
              @include flex-col();
              align-items: flex-end;
              position: relative;
              margin:1em;
              .button-text{
                display: none;
              }
              
            } 
            .free-quotation-button{
              @include flex-col();
              align-items: flex-end;
              position: relative;
              margin:1em;
              .button-text{
                display: none;
              }
              button{
                animation: spin 5s;
              }
              
            }
            .home-button{          
             
              
            }
        }
          .nav-login{
            .MuiSvgIcon-colorPrimary{
              font-size: 3em;
              color: $color_2;
              @include sliding-effect2s();
            }
          } 
          .menu-icon {
            @include display-none();
          }
          .logo{
            img{
              height: 4em;
              width: 4em;
            }
          }
          
        }
      }
}