@import "./base";

//motor insurance form 
.swipeable-quote-form {
    width: 100vw;
    @include flex-col();
    background-color: $color_1;
    align-items: baseline;
    .request-button{
      @include sliding-effect2s();
      width: 70%;
      margin: 1em;
      padding: 1em;
        background-color: $color_2;
        width: 15em;
    }
    .swipeable-quote-form-sub-header{
      @include sliding-effect1s();
      font-size: 1.5em;
      text-transform: capitalize;
      margin-bottom: 1em;
    }
    .close-btn-wrapper {
      @include flex-row();
      width: 100%;    
      background-color: $color_1;
      justify-content: space-between;  
      padding: 1em; 
      .appbar-title{
        font-size: 1.5rem;
        @include sliding-effect1s();
      }
      .close-btn{
        
        border: .05em solid $color_2;
        @include sliding-effect1s();
        animation: spin 3s;
      } 
      .MuiSvgIcon-colorPrimary{
        color: $color_2;
        font-size: 2.5em;
      }    
    }
    .form{
      @include flex-col();
      width: 100%;
      margin-top: 6em;
      padding: 1em;
      .MuiFormLabel-root{
        color: $color_2;
      }
      .MuiInputBase-root{
        color: $white;
        font-weight: 500;
      }
      .MuiFormHelperText-root{
        color: $color_2;
      }
      
      .Mui-error{
        color: red;
      }
      
      
      .swipeable-quote-form-form{
        @include flex-col();
        width: 100%;
        background-color: $color_3;
        
        
        padding: 1em;
        margin-bottom: 1em;
        
        .swipeable-quote-form-content{
          @include flex-col();
          color: $color_2;
          width: 100%;
          padding: 1em;
          //form controls
          .swipeable-quote-form-sub-header{
            font-weight: 700;
          }
          
        .form-controls {
          width: 15em;
          height: 6em;
          @include sliding-effect2s();
        }
        }
      }
    }
  }

  /* footer */
.footer-wrapper {
    @include flex-col();
    position: relative;
    top: 3em;
    min-height:5vh;
    color: $color_1;
    background-color: $white; 
    width: 100vw;
    footer{
      font-weight: 600;
      padding: .5em;
      font-size: .75em;    
      display: inline;
      a{
        color: $color_2;
      }
    }
    
  }

  
//width > 700
@media screen and (min-width: 700px)  {
    .swipeable-quote-form {
        width: 40vw;
        .form{
         
      
          .swipeable-quote-form-form{
            
            .swipeable-quote-form-content{
             
              //form controls
            .form-controls {
             
              
            }
            }
          }
        }
      }
      .top-nav{
        .App-header {
          .nav-buttons{
            @include flex-row();
            .MuiSvgIcon-colorPrimary{
              color: $color_2
            }
            .home-button{
              margin-right: 1em;
              
            }
            .next-arrow{
              @include flex-col();
              align-items: flex-end;
              position: relative;
              margin: 1em;
              .button-text{
                display: none;
              }
              
            }
            .get-started-button{
              @include flex-col();
              align-items: flex-end;
              position: relative;
              margin:1em;
              .button-text{
                display: none;
              }
              
            } 
            .free-quotation-button{
              @include flex-col();
              align-items: flex-end;
              position: relative;
              margin:1em;
              .button-text{
                display: none;
              }
              button{
                animation: spin 5s;
              }
              
            }
            .home-button{          
             
              
            }
        }
          .nav-login{
            .MuiSvgIcon-colorPrimary{
              font-size: 3em;
              color: $color_2;
              @include sliding-effect2s();
            }
          } 
          .menu-icon {
            @include display-none();
          }
          .logo{
            img{
              height: 4em;
              width: 4em;
            }
          }
          
        }
      }
}