 @import "../../base";
 //home
 .home {
    @include flex-col(); 
    height: 100%;
    .headline {
      @include flex-col();
      // justify-content: flex-end;
      @include sliding-effect();
      overflow: hidden;
      height: 100%;
      width: 100%;
      .headline-text{
        font-size: 2.5em;
      }
      
      .home-carousel{
        width: 50%; 
        border: solid .015em $color_3; 
        
      }
      
    }
    
  }

//wide screen
@media screen and (max-width: 600px)  {
  //home
  .home {
    @include flex-col(); 
    justify-content: flex-end;
    height: 100%;
    align-items: flex-end;
    .headline {
      text-align: left;
     
      .headline-text{
        font-size: 2em;
        
      }
    
      .home-carousel{
        width: 80%; 
        border: solid .015em $color_3; 
        
      }
      
    }
    
  }
}


