@import "../../base";

@keyframes underline-text{
  0%{width: 1%; height: 1%; }
  100%{width: 100%; height: 100%; }
}

@keyframes reveal{
  0%{opacity: -1;  }
  100%{opacity: 1;  }
}

/* how it works */
.page-wrapper {
    @include flex-col(); 
    width: 100vw;
    .page-header {
        @include flex-col();
        
        &::after {
          content: '';
          width: 100%;
          height: 100%;
          border: 1px solid black;
          z-index: -1;
          
        }
        &:hover {
          &::after{
            animation: underline-text 3s;
            cursor: pointer;
          }
        }
      
      }
}
  
.how-it-works {
    @include flex-row();
    flex-wrap: wrap;
    text-align: center;
    width: 100vw;
}
  
  .step {
    width: 300px;
    height: 400px;
    overflow: hidden;
    @include flex-col();
    margin: 1em;
    font-size: 1em;
    .svg {
      @include flex-col();
      height: 15em;
      width: 15em;
      img{
        height: 150px;
        width: 150px;
      }
    }
  }
  .stepMax{
    animation: reveal 2s;
  }
  
  
  
