@import "../../base";
@keyframes reveal{
  0%{opacity: -1;  }
  100%{opacity: 1;  }
}

/*why us*/
    .why-us {
      position: relative;
      top: 5vh;
      width: 100vw;
      @include flex-row();
      flex-wrap: wrap;
      text-align: center;
      background-color: $color_1;
      .page-header {
        @include flex-col();
        justify-content: space-around;
        width: 30vw;
        margin: 1em;
        border-left: 1em solid $color_3;
      }
      .why-us-text {
        @include flex-row();
        flex-wrap: wrap;
        margin: .5em;
        width: 60vw;
        .why-us-child {
          @include flex-col();
          width: 350px;
          height: 400px;
          margin: 1em;
          padding: 2em;
          letter-spacing: .02em;
          background-color: $white;
          overflow: hidden;
        }
        .show{
          animation: reveal 2s;
        }
      }

      
    }

    @media screen and (max-width: 700px)  {
      .why-us {
       
       .page-header {
        width: 80%;
       }
       .why-us-text {
         width: 90%;
       }
      }
    }
  